absl-py==1.0.0
asgiref==3.5.0
attrs==21.4.0
certifi==2021.10.8
click==8.0.4
colorama==0.4.4
cycler==0.11.0
distlib==0.3.4
filelock==3.6.0
Flask==2.0.3
fonttools==4.31.2
itsdangerous==2.1.0
Jinja2==3.0.3
kiwisolver==1.4.2
MarkupSafe==2.1.0
matplotlib==3.5.1
mediapipe==0.10.14
mysql-connector-python==8.0.29
numpy==1.22.3
opencv-contrib-python==4.5.5.64
packaging==21.3
Pillow==9.0.1
pipenv==2022.1.8
platformdirs==2.5.1
protobuf==4.25.3  # Updated version
pyparsing==3.0.7
python-dateutil==2.8.2
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
virtualenv==20.13.2
virtualenv-clone==0.5.7
Werkzeug==2.0.3
