<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FitMate</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/heroes/">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/"><img src="static/img/logo.png" alt="" class="img-fluid mx-3"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo 
      <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#services">About</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container col-lg-6" data-aos="fade-up" data-aos-delay="500">
      <h1 class="display-5 fw-bold lh-1 mb-3">SHAPE THE PHYSIQUE OF YOUR DREAMS WITH AI</h1>
      <p class="lead" style=color:whitesmoke;>FitMate isn’t just another fitness app loaded with pre-recorded
        workouts. We’ve developed complex algorithms to invent Smart Workouts; routines that use artificial intelligence
        to ensure your sessions are personalised to you. FitMate monitors your performance in real-time and adapts
        your workout accordingly, just as if you have your trainer right there alongside you.</p><br>
      <a href="#portfolio" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->


  <main id="main"></main>
  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <span>Exercises</span>
        <h2>Exercises</h2>
        <p>Select Exercises</p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-wl">Weightlifting</li>
            <li data-filter=".filter-cardio">Cardio</li>
            <!-- <li data-filter=".filter-yoga">Yoga</li> -->
          </ul>
        </div>
      </div>

      <div class="row portfolio-container mx-3" data-aos="fade-up" data-aos-delay="150">

        <div class="col portfolio-item filter-wl" style="max-width: 22rem;">
          <div class="card ">
            <a href="/curls"><img src="static/img/portfolio/curls.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h4 class="card-title fw-bold">Curls</h4>
              <p class="card-text">Pump the biceps muscles at the front of the upper arm, and also the muscles of the lower arm—the brachialis and brachioradialis</p>
            </div>
          </div>
        </div>

        <div class="col portfolio-item filter-wl" style="max-width: 22rem;">
          <div class="card ">
            <a href="/squats"><img src="static/img/portfolio/squats.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h4 class="card-title fw-bold">Squats</h4>
              <p class="card-text">Squats burn calories and might help you lose weight. They also lower your chances of injuring your knees and ankles.</p>
            </div>
          </div>
        </div>

        <div class="col portfolio-item filter-cardio" style="max-width: 22rem;">
          <div class="card ">
            <a href="/pullups"><img src="static/img/portfolio/pullup.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h4 class="card-title fw-bold">Pull-Ups</h4>
              <p class="card-text">In addition to working your back, pull-ups strengthen Your Chest, Shoulders, Arms, and Core, targeting many of the major muscles in the body.</p>
            </div>
          </div>
        </div>
  
        <div class="col portfolio-item filter-wl" style="max-width: 22rem;">
          <div class="card ">
            <a href="/raise"><img src="static/img/portfolio/raise.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h4 class="card-title fw-bold">Lateral Raise</h4>
              <p class="card-text">Raise helps to strengthen, tone, and stabilize your shoulders and upper body.</p>
            </div>
          </div>
        </div>

        <div class="col portfolio-item filter-cardio" style="max-width: 22rem;">
          <div class="card ">
            <a href="/jacks"><img src="static/img/portfolio/jumping.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h4 class="card-title fw-bold">Jumping Jacks</h4>
              <p class="card-text">Jumping jacks work all the major muscles in the lower body, strengthen your glutes, hips, calves, and shins</p>
            </div>
          </div>
        </div>


        <div class="col portfolio-item filter-cardio" style="max-width: 22rem;">
          <div class="card ">
            <a href="/pushups"><img src="static/img/portfolio/pushup.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h4 class="card-title fw-bold">Push Ups</h4>
              <p class="card-text">Push-ups helps to shape and tone your shoulders, strengthens the chest, and helps to tone and tighten your core</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->


   <!-- ======= About Section ======= -->
   <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <span>About</span>
        <h2>About</h2>
        <p>Highlights of the App</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4>Mobile Responsive</h4>
            <p>Offers an optimized browsing experience for a tablet, and a mobile phone's browser</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4>Real-Time Estimation</h4>
            <p>Provide Real-time feedback to enhance the exercise experience</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4>Lag Free Response</h4>
            <p>A seamless lag free experience for better performance</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

     <!-- ======= Team Section ======= -->
     <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <span>Team</span>
          <h2>Team</h2>
          <p>Meet the Team behind this project</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="static/img/team/team-1.png" alt="">
              <h4>Isabella Schiappa Castro</h4>
             
              
              <div class="social">
            
                <a href="https://www.linkedin.com/in/isabella-schiappa-castro-bb91562b2"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

      </div>
    </section><!-- End Team Section -->

        <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contact</span>
          <h2>Contact</h2>
          <p>You can reach us below</p>
        </div>

        <div class="row d-flex justify-content-center align-items-center" data-aos="fade-up">
          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email </h3>
              <p>schiappacast2023@fau.edu</p>
            </div>
          </div>

        

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row d-flex justify-content-center align-items-center">
  
            <div class="col-lg-4 col-md-6 ">
              <div class="footer-info">
                <img src="static/img/logo.png" alt="" class="img-fluid" style="width:150px; padding-bottom:20px">
                <p>
                  Your Personal AI Trainer
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="container">
        <div class="copyright">
          &copy; Copyright 2024<strong><span></span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        </div>
      </div>
    </footer><!-- End Footer -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>
</body>

</html>